@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Roboto&display=swap");
body {
  margin: 0;
}

.globalContainer {
  padding: 30px 0px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 1170px;
  margin: 0 auto;
}

.topHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerMenu a {
  text-decoration: none;
  color: var(--575757, #575757);
}

.headerMenu ul {
  list-style-type: none;
  display: flex;
  gap: 56px;
  margin-bottom: 0;
  color: var(--575757, #575757);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.loginButton button {
  cursor: pointer;
  border: none;
  color: var(--ffffff, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  display: flex;
  width: 130px;
  height: 54px;
  padding: 24px 32px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
  background: var(--fb-9333, #fb9333);
}

.banner {
  display: flex;
  gap: 16px;
}

.leftBanner {
  flex: 1;
}

.rightBanner {
  flex: 1;
}

.bestSalad {
  display: flex;
  width: fit-content;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 100px;
  background: #fff0dc;
  margin-bottom: 30px;
}

.bestSalad span {
  color: var(--fb-9333, #fb9333);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.bannerText span {
  color: var(--fb-9333, #fb9333);
}

.bannerText h1 {
  font-family: "Poppins", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -1.44px;
  margin-bottom: 30px;
}

.bannerText h6 {
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 30px;
  letter-spacing: -0.4px;
}

.orderButton button {
  cursor: pointer;
  min-width: 192px;
  max-height: 68px;
  display: flex;
  margin-bottom: 88px;
  padding: 24px 32px;
  color: var(--ffffff, #fff);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--fb-9333, #fb9333);
  border: none;
  color: #ffffff;
}

.feautereİnfo {
  display: flex;
  gap: 52px;
}

.numberCustom {
  color: var(--575757, #575757);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.customTitle {
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.whyChooseUs {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 1170px;
  margin: 0 auto;
}

.topChoose {
  display: flex;
  align-items: center;
  margin-top: 100px;
  gap: 134px;
}

.topChoose h1 {
  color: #585858;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.96px;
}

.topChooseOrange {
  color: var(--fb-9333, #fb9333);
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.96px;
}

.topChoose .rightText {
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: -0.4px;
}

.bottomChoose {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 100px;
}

.chooseCard {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid #fff0da;
  background: #fff;
  transition: transform 0.5s;
}

.chooseCard:hover {
  border-radius: 50px;
  background: var(--ffffff, #fff);
  transform: scale(1.1);
  box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.2);
}

.chooseCard .imageBorder {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background: #ffe8c8;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.buttonLearn {
  display: flex;
  padding: 10px;
  justify-content: start;
  align-items: center;
  gap: 10px;
  left: 0;
}

.buttonLearn button {
  cursor: pointer;
  border-radius: 100px;
  border: none;
  display: flex;
  color: var(--575757, #575757);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  background-color: transparent;
  letter-spacing: -0.32px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttonLearn button:hover .svg-default {
  display: none;
}

.buttonLearn button:hover .svg-hover {
  display: block;
}

.buttonLearn button:hover {
  border-radius: 100px;
  background: var(--fb-9333, #fb9333);
  color: var(--ffffff, #fff);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.32px;
}

.chooseCard h4 {
  margin-bottom: 12px;
  color: var(--2-b-2-b-2-b, #2b2b2b);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  letter-spacing: -0.48px;
}

.chooseCard span {
  margin-bottom: 24px;
  color: var(--575757, #575757);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.32px;
}

.aboutUs {
  background: linear-gradient(
    180deg,
    #fff6ea 0%,
    rgba(255, 232, 199, 0.5) 100%
  );
  margin-bottom: 100px;
}

.contentUs {
  padding: 7.5rem 0;
  display: flex;
  gap: 88px;
  width: 1170px;
  max-width: 1170px;
  margin: 0 auto;
}

.leftAbout {
  flex: 1.5;
}

.leftAbout .title {
  margin-bottom: 30px;
  color: #333;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 63.984px;
}

.leftAbout .leftParag {
  color: var(--text-default-in-field, #999);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.leftSpan {
  color: var(--fb-9333, #fb9333);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 63.984px;
}

.leftAboutNumber {
  display: flex;
  margin-top: 32px;
  margin-bottom: 34px;
  align-items: baseline;
  font-family: "Poppins", sans-serif;
}

.leftAboutNumber h1 {
  color: var(--text-title-text, #333);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.984px;
}

.leftAboutNumber span {
  color: var(--text-disable, #ccc);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.sliderButton {
  display: flex;
  gap: 24px;
}

.sliderButton button {
  width: 56px;
  height: 56px;
  cursor: pointer;

  border-radius: 10px;
  background: #ffc87a;
  border: none;
}

.sliderButton button:hover {
  border-radius: 10px;
  background: var(--fb-9333, #fb9333);
}

.rightAbout {
  overflow: hidden;
}

.cards {
  display: flex;
  flex: 0.5;
  gap: 30px;
  max-width: 550px;
  height: 100%;
  transition: cubic-bezier(0.04, 0, 0.2, 1) 0.3s;
  padding: 2rem 0;
}

.aboutCard {
  transition: transform 1s ease-in-out;
  position: relative;
  border-radius: 8px;
  flex-direction: column;
  background: #fff;
  padding: 72px 24px 24px;
  min-width: 270px;
}

.aboutCard:hover {
  transform: scale(1.1);
  top: 40px;
}

.aboutCard img {
  border-radius: 8px;
  position: absolute;
  top: -36px;
  left: 24px;
}

.aboutCard h4 {
  color: var(--2-b-2-b-2-b, #2b2b2b);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.992px;
  margin-top: 24px;
}

.aboutCard p {
  color: var(--text-default-in-field, #999);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.aboutCard span {
  color: var(--text-default-in-field, #999);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.discounts {
  display: flex;
  margin-bottom: 100px;
  align-items: center;
  flex-direction: column;
  gap: 71px;
  width: 1170px;
  margin: 0 auto;
}

.discountsTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.discountsTitle h6 {
  color: var(--fb-9333, #fb9333);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: -0.4px;
}

.discountsTitle h1 {
  color: #585858;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.96px;
}

.discountsTitle span {
  color: var(--fb-9333, #fb9333);
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.96px;
}

.menuPrice {
  display: flex;
  gap: 40px;
}

.imageMenu {
  position: relative;
  display: flex;
}

.menuText {
  position: absolute;
  bottom: 0px;
  margin-left: 140px;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
  border-radius: 4px;
}

.menuText h4 {
  color: var(--ffffff, #fff);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.menuText span {
  color: var(--ffffff, #fff);
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.newsLater {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 100px;
}

.subscribe {
  text-align: center;
  border-radius: 50px;
  background: #fff1de;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 96px;
  background-image: url(../img/vectorline.svg);
}

.subscribeText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribeText span {
  padding-top: 48px;
  color: var(--fb-9333, #fb9333);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: -0.4px;
}

.subscribe h2 {
  color: #585858;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.96px;
  margin-bottom: 24px;
}

.subscribe p {
  color: var(--575757, #575757);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.32px;
  opacity: 0.7;
  margin-bottom: 80px;
}

.sendForm {
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 8px 20px -30px rgba(151, 109, 0, 0.08);
  display: flex;
  width: 700px;
  height: 80px;
  padding: 10px 8px 10px 31px;
  justify-content: space-between;
  align-items: center;
}

.mailInput input::placeholder {
  color: var(--575757, #575757);
  text-align: center;
  opacity: 0.7;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.36px;
  margin-left: 20px;
}

.mailInput input {
  border: 1px solid black;
  width: 236px;
  height: 45px;
  gap: 10;
  padding: 10px;
  outline: none;
  display: flex;
  border: none;
}

.subscribeButton button {
  display: flex;
  width: 170px;
  height: 64px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--fb-9333, #fb9333);
}

.footer {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.footerContainer {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  gap: 147px;
}

.copyright {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.copyright span {
  margin-bottom: 67px;
  color: var(--575757, #575757);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.copyright h1 {
  color: var(--fb-9333, #fb9333);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.copyright .salad {
  color: #585858;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.feature {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.feature h1 {
  color: var(--fb-9333, #fb9333);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.feature li {
  list-style-type: none;
  left: 0;
}

.feature a {
  text-decoration: none;
  color: var(--575757, #575757);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contact {
  display: flex;
  flex-direction: column;
  flex: 1.3;
}

.contact h1 {
  color: var(--fb-9333, #fb9333);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 23px;
}

.contact span {
  color: var(--575757, #575757);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-left: 16px;
}

.location,
.mail,
.phone {
  margin-bottom: 23px;
}

.socialMedia {
  flex: 1.2;
}

.socialMedia span {
  color: var(--575757, #575757);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.socialIcon {
  flex-direction: row;
  margin-bottom: 20px;
  gap: 32px;
  display: flex;
}

.socialIcon span {
  color: var(--575757, #575757);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.socialIcon img {
  width: 26px;
  height: 22px;
}
.hamburgerMenu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .chooseCard:hover {
    border-radius: 50px;
    background: var(--ffffff, #fff);
    transform: scale(1);
    box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.2);
  }
  .headerMenu {
    display: none;
  }

  .loginButton {
    display: none;
  }
  .hamburgerSign {
    cursor: pointer;
    border: none;
    color: var(--ffffff, #fff);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    display: flex;
    padding: 10px 22px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 100px;
    font-family: "Poppins", sans-serif;
    background: var(--fb-9333, #fb9333);
  }
  .hamburgerButton {
    margin: 10px 15px;
  }
  .hamburgerMenu {
    display: flex;
    position: relative;
  }

  .hamburgerIcon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
  }

  .bar {
    width: 30px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
  }

  .hamburgerLinks {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .hamburgerLinks ul {
    list-style-type: none;
    padding: 0;
    width: 100vw;
  }

  .hamburgerLinks ul a {
    text-decoration: none;
  }

  .hamburgerLinks li {
    padding: 10px 20px;
    color: #fb9333;
    font-family: Poppins;
    font-size: 15px;
  }

  .hamburgerLinks ul a:hover {
    text-decoration: none;
  }

  .hamburgerLinks.show {
    display: block;
  }
  .rightBanner img {
    width: 350px;
  }
  .hamburgerMenu {
    display: block;
  }
  .topChoose {
    flex-wrap: wrap;
  }
  :is(
      .menuPrice,
      .contentUs,
      .leftAboutNumber,
      .bottomChoose,
      .feautereİnfo,
      .sliderButton
    ) {
    justify-content: center;
  }
  :is(.rightBanner, .topChoose, .leftAbout) {
    text-align: center;
  }
  :is(.header, .footer, .banner) {
    padding: 0 10px;
  }
  :is(
      .header,
      .whyChooseUs,
      .bottomChoose,
      .contentUs,
      .menuPrice,
      .newsLater,
      .footer,
      .footerContainer,
      .subscribe,
      .banner
    ) {
    flex-wrap: wrap;
    width: unset;
  }
  :is(.discounts, .sendForm, .subscribe button) {
    width: unset;
  }
}
